name: Terraform S3 Bucket Deployment

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    name: Run Terraform to create S3 bucket
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      # Step 3: Configure AWS Credentials (using GitHub Secrets)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-2  # change as per your region

      # Step 4: Initialize Terraform
      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      # Step 5: Terraform Format Check
      - name: Terraform Format
        working-directory: terraform
        run: terraform fmt -check

      # Step 6: Terraform Plan
      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -input=false

      # Step 7: Terraform Apply
      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve -input=false
        if: github.ref == 'refs/heads/main'
